APP_NAME=WalletBackend
APP_ENV=local
APP_KEY=base64:+m29NtQ0pP/byCZKy9S29sszaUsdJ7IpyYAT43OZG3Q=
APP_DEBUG=true
APP_URL=http://localhost/

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=mysql_backend_wallet
DB_PORT=3306
DB_DATABASE=mysql_backend_wallet
DB_USERNAME=mysql_backend_wallet
DB_PASSWORD=secret

DB2_CONNECTION=mysql
DB2_HOST=mysql_core_wallet
DB2_PORT=3306
DB2_DATABASE=homestead
DB2_USERNAME=homestead
DB2_PASSWORD=secret

DB4_CONNECTION=mysql
DB4_HOST=mysql_paypoint
DB4_PORT=3306
DB4_DATABASE=mysql_paypoint
DB4_USERNAME=mysql_paypoint
DB4_PASSWORD=secret

DB5_CONNECTION=mysql
DB5_HOST=mysql_nchl
DB5_PORT=3306
DB5_DATABASE=mysql_nchl
DB5_USERNAME=mysql_nchl
DB5_PASSWORD=secret

DB6_CONNECTION=mysql
DB6_HOST=mysql_cybersource
DB6_PORT=3306
DB6_DATABASE=mysql_cybersource
DB6_USERNAME=mysql_cybersource
DB6_PASSWORD=secret

DB8_CONNECTION=npay
DB8_HOST=mysql_npay
DB8_PORT=3306
DB8_DATABASE=mysql_npay
DB8_USERNAME=mysql_npay
DB8_PASSWORD=secret

DB9_CONNECTION=nps
DB9_HOST=mysql_nps
DB9_PORT=3306
DB9_DATABASE=mysql_nps
DB9_USERNAME=mysql_nps
DB9_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FCM_SERVER_KEY=AAAAkRD5jcs:APA91bEd3o53seiqkw_XSHd54N3rMKpsn2HbE0qQSbr6JHTEt5jgnla29puB1jnq6DcGo29Sl-k1irOaZ-NhgWwPWjaf6SzQeKIKwvkc56yEWDhpVrQD-P-W0MjFvzWMWLtbW2pXkTgH
FCM_SENDER_ID=623055048139

SPARROW_FROM="InfoSMS"
SPARROW_TOKEN="EgTsRP0Aj4ZaGwQXCWit"
