/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.idea/webServers.xml
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/app
yarn-error.log
/storage/logs
.idea/*
/bootstrap/cache
.env.save
